<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img {
        object-position: center;
        object-fit: cover;
        width: 300px;
        height: 300px;
      }
      img .lazy-image {
        opacity: 0.1;
        will-change: opacity;
        transition: all 0.3s;
      }
      img .lazy-image.loaded {
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <h1>Works in every browser</h1>
    <div class="gallery">
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/691"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/645"
        />
      </div>
      <div class="image image--big">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/605"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/603"
        />
      </div>
      <div class="image image--big">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/666"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/638"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/674"
        />
      </div>
      <div class="image image--horizontal">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/624"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/621"
        />
      </div>
      <div class="image image--horizontal">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/674"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/616"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/609"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/610"
        />
      </div>
      <div class="image image--horizontal">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/677"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/612"
        />
      </div>
      <div class="image image--big">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/601"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/691"
        />
      </div>
      <div class="image image--vertical">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/655"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/690"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/654"
        />
      </div>
      <div class="image image--vertical">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/646"
        />
      </div>
      <div class="image image--big">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/654"
        />
      </div>
      <div class="image image--big">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/604"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/644"
        />
      </div>
      <div class="image image--vertical">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/600"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/641"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/617"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/608"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/631"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/613"
        />
      </div>
      <div class="image image--big">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/696"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/624"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/606"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/684"
        />
      </div>
      <div class="image image--horizontal">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/673"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/684"
        />
      </div>
      <div class="image image--big">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/665"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/606"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/601"
        />
      </div>
      <div class="image">
        <img
          class="lazy-image"
          data-src="https://source.unsplash.com/random/645"
        />
      </div>
    </div>
    <script src="../../../Script/script.js"></script>
  </body>
</html>
