<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Libs/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="header_item.css">
</head>

<body>
    <a href="#">
        <div class="box-logo">
            <h3 class="box-logo__text">shoppers</h3>
        </div>
    </a>

    <br>
    <hr>
    <br>
    <div class="box-input">
        <input type="text" name="" class="box-input__text" placeholder="Search">
        <div class="box-input__icon">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="btn-icon btn-icon--badge">
        <i class="fas fa-shopping-cart"></i>
        <small>2</small>
    </div>
    <br>
    <hr>
    <br>
    <ul class="menu-list">
        <li class="menu-list__item active"><a href="#">home<i class="fas fa-angle-down" style="opacity: 0.5;"></i></a>
            <ul class="menu-list menu-list--child">
                <li class="menu-list__item"><a href="#">menu_item 1</a></li>
                <li class="menu-list__item"><a href="#">menu_item 2</a></li>
                <li class="menu-list__item"><a href="#">menu_item 3</a></li>
                <li class="menu-list__item"><a href="#">sub menu</a>
                    <span class="menu-list__item__icon"><i class="fas fa-angle-right" style="opacity: 0.5;"></i></span>
                    <ul class="menu-list menu-list--child menu-list--child--right">
                        <li class="menu-list__item"><a href="#">menu_item 1</a></li>
                        <li class="menu-list__item"><a href="#">menu_item 2</a></li>
                        <li class="menu-list__item"><a href="#">menu_item 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-list__item"><a href="#">about <i class="fas fa-angle-down" style="opacity: 0.5;"></i></a>
            <ul class="menu-list menu-list--child">
                <li class="menu-list__item"><a href="#">menu_item 1</a></li>
                <li class="menu-list__item"><a href="#">menu_item 2</a></li>
                <li class="menu-list__item"><a href="#">menu_item 3</a></li>
            </ul>
        </li>
        <li class="menu-list__item"><a href="#">shop</a></li>
        <li class="menu-list__item"><a href="#">catalogue</a></li>
        <li class="menu-list__item"><a href="#">new arrivals</a></li>
        <li class="menu-list__item"><a href="#">contact</a></li>
    </ul>
    <br>
    <hr>
    <br>
    <a href="" class="btn-default">shop now</a>
    <br>
    <hr>
    <br>
    <section class="section-banner">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="https://via.placeholder.com/150x150" alt="img">
                </div>
                <div class="col-6">
                    <h1>Finding Your Perfect Shoes</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer
                        accumsan
                        tincidunt fringilla.</p>
                    <a href="" class="btn-default">shop now</a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <hr>
    <br>
    <section class="section-featured">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="featured">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <div class="featured__icon"><i class="fas fa-truck"></i></div>
                                </div>
                                <div class="col-9">
                                    <h3>FREE SHIPPING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis
                                        quam. Integer
                                        accumsan tincidunt fringilla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="featured">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <div class="featured__icon"><i class="fas fa-truck"></i></div>
                                </div>
                                <div class="col-9">
                                    <h3>FREE SHIPPING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis
                                        quam. Integer
                                        accumsan tincidunt fringilla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="featured">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <div class="featured__icon"><i class="fas fa-truck"></i></div>
                                </div>
                                <div class="col-9">
                                    <h3>FREE SHIPPING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis
                                        quam. Integer
                                        accumsan tincidunt fringilla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <hr>
    <br>
    <section class="section-collection">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="collection">
                        <a href="#">
                            <img src="https://via.placeholder.com/350x460" alt="">
                            <div class="collection__text">
                                <h5>collection</h5>
                                <h1>women</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="collection">
                        <a href="#">
                            <img src="https://via.placeholder.com/350x460" alt="">
                            <div class="collection__text">
                                <h5>collection</h5>
                                <h1>children</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="collection">
                        <a href="#">
                            <img src="https://via.placeholder.com/350x460" alt="">
                            <div class="collection__text">
                                <h5>collection</h5>
                                <h1>men</h1>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <hr>
    <br>
    <figure class="box-product">
        <img src="https://via.placeholder.com/347x246" alt="">
        <h3><a href="">Name Product</a></h3>
        <p>Description product</p>
        <p class="box-product__price">$50</p>
    </figure>
</body>

</html>